@model StudentPortal.ViewModel.StudentViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table>
        <tbody>
            @foreach(var item in Model.StudentList)
            {
                <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Course</td>
                <td>@item.YearLevel</td>
                <td><a href="@Url.Action("Details", new {id=@item.Id})">DETAILS</a></td>
                </tr>
            }
        </tbody>
        
    </table>
</div>

